<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
    <title>Hoyo IOT 控制</title>

    <link rel="stylesheet" href="/3rdParty/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="/3rdParty/materialize/fonts/MaterialIcons.css"/>

    <script src="/3rdParty/jquery-1.11.3.min.js"></script>
    <script src="/page/js/php.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCShFCtDpn22IZ0mq5sOwtW03w7Ovs7Ecs&libraries=geometry"></script>

    <!-- jBox -->
    <link rel="stylesheet" href="/3rdParty/jBox-0.4.9/Source/jBox.css"/>
    <script src="/3rdParty/jBox-0.4.9/Source/jBox.min.js"></script>

    <!---->
    <link rel="stylesheet" href="/3rdParty/jquery.scrollbar-gh-pages/jquery.scrollbar.css"/>
    <script src="/3rdParty/jquery.scrollbar-gh-pages/jquery.scrollbar.js"></script>
    
    <!---->
    <link rel="stylesheet" href="/page/Layout/Front.css"/>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">IoT</a>
        <!--<a id="logo-container" href="#" class="brand-logo">-->
        <!--&lt;!&ndash;<div style="background: url('/Page/img/Logo.png') no-repeat; width: 64px; background-size: contain; "></div>&ndash;&gt;-->
        <!--<a href="/" class="navbar-brand">IoT</a>-->
        <!--</a>-->

        <ul class="right hide-on-med-and-down">
            <li>
                <a class="LoginYes" id="idUserName" href="javascript:void(0);">{UserName}</a>
                <a class="LoginNo" href="//member.hoyo.idv.tw?GoBack=//albums.hoyo.idv.tw">登入</a>
            </li>
        </ul>

        <a href="javascript:void(0);" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a class="LoginYes" id="idUserName" href="javascript:void(0);">{UserName}</a>
                <a class="LoginNo" href="//member.hoyo.idv.tw?GoBack=//albums.hoyo.idv.tw">登入</a>
            </li>
        </ul>
    </div>
</nav>

{{content}}

<div id="modalLogout" style="display: none;">
    <div id="GoogleLogout">
        <a href="javascript:void(0);"><i class="fa fa-2x fa-google-plus-square"></i> Google 登出</a>
    </div>
</div>

<!--ModalLoginYes-->
<div id="ModalLoginYes" style="display: none;">
    <div style="padding: 4px 12px;">
        <div><a href="javascript:void(0);" onclick="friend()">好友</a></div>
        <div><a href="javascript:void(0);" id="idUpload">上傳</a></div>
        <div><a href="?a=Front/Logout">登出</a></div>
    </div>
</div>

<!--  -->
<div id="modalDeviceList" style="display: none;">
    <div></div>
</div>

<script src="/3rdParty/materialize/js/materialize.min.js"></script>
<script src="/page/js/GoogleLogin.js"></script>

<script>
    function init(){
        // 登入狀態檢查
        if ( window.localStorage.Token ==undefined || window.localStorage.Token =='' ) {
            $('.SignedIn').show();
        }

        //
        else{
            $('.SignedOut').show();

            $.ajax({
                url: '?a=Front&b=Init',
                type: 'post',
                dataType: 'json',
                data: {
                    Token: window.localStorage.Token
                },
                success: function (json) {

                    var h = '';
                    if ( json['Result'] ==true ){

                        $.each( json['Data'], function(k,v){
                            h += '<div><i class="material-icons" style="vertical-align: bottom;">chevron_right</i> <a href="?a=WalkGPS&id='+ v['id'] +'">'+ v['Name'] +'</a></div>';
                        });
                    }

                    $('#modalDeviceList').find('div').html(h);

                    //
                    y = $('.GPSDevice').find('a').JBox('Tooltip', {
                        closeOnMouseleave: false,
                        trigger:"click",
                        adjustTracker:true,
                        closeOnClick:"body",
                        closeButton:"box",
                        repositionOnOpen: true,
                        delayOpen: 50,
                        content: $('#modalDeviceList')
                    });

//                    y.close();

                }
            });
        }

    }
    init();

    //
    x = $('.SignedIn').find('a').JBox('Tooltip', {
        closeOnMouseleave: false,
        trigger:"click",
        adjustTracker:true,
        closeOnClick:"body",
        closeButton:"box",
        content: $('#modalLogin')
    });

    // 登出
    $('.Logout').find('a').on('click', function(){
        window.localStorage.Token = '';
        $('.Login').hide();
        $('.SignedIn').show();
    });

    // 行動裝置選單
    $(".button-collapse").sideNav();
</script>
</body>
</html>
